.project-section {
  margin-top: 100px;
  position: relative;
  .project-hash-anchor {
    position: absolute;
    top: -75px;
  }
}
.header {
  display: flex;
  gap: 25px;
  font-size: 2.125rem;

  & > .title-container {
    outline: none;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    & > .project-title {
      font-weight: 700;
      color: var(--black-900);
      flex-shrink: 0;
    }
    & > .project-link-icon {
      height: 25px;
      vertical-align: middle;
    }
  }
  & > .project-icon-container {
    flex-shrink: 0;
    display: flex;
    /* counteract inner padding on project-icon */
    margin: 0 -5px;
    align-self: center;
    & > .project-icon {
      padding: 0 5px;
      position: relative;
      & > img {
        border-radius: 5px;
        height: 0.8em;
        display: block;
      }
      & > .project-icon__tooltip {
        display: none;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        animation: 0.2s fade-in forwards;

        background-color: var(--black-50);
        border: 1px solid var(--black-200);
        padding: 3px 8px;
        border-radius: 10px;

        text-wrap: nowrap;
        font-size: 1rem;
        color: var(--black-900);
        &::before {
          content: "";
          position: absolute;
          inset: 100% 0 -6px 0;
        }
      }
      &:hover {
        & > img {
          scale: 1.1;
          rotate: -3deg;
          /* this is so quirky I love it lmao */
        }
        & > .project-icon__tooltip {
          display: block;
        }
      }
    }
  }
}
.last-updated {
  color: var(--black-400);
  margin-top: 8px;
  & > a {
    color: var(--black-400);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    margin-bottom: 3px;
  }
  100% {
    opacity: 1;
    margin-bottom: 6px;
  }
}
.project-description {
  margin-top: 15px;

  max-width: 730px;

  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--black-900);
}
.project-images-container {
  padding: 0;
}
.project-images {
  display: flex;
  gap: 45px;
  margin-top: 50px;

  height: 400px;
  width: fit-content;

  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  & > img {
    pointer-events: none;
  }
}
.section-wrapper {
  margin-top: 50px;
  margin-bottom: 30px;
  border-top: 1px solid var(--black-300);
  border-bottom: 1px solid var(--black-300);
  position: relative;
}
.dynamic-height-wrapper {
  transition: 0.4s height;
  position: relative;
  overflow: hidden;
}
.contributors-label {
  font-size: 1.5rem;
  color: var(--black-400);
  position: absolute;
  font-weight: bold;
  left: 20px;
  top: 0;
  box-sizing: content-box;
  transform: translateY(-50%);
  background-color: white;
  padding: 5px 15px 8px; /* just nudge it up a bit... */
}
.show-all-contributors-button {
  position: absolute;
  padding: 7px 17px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  color: var(--black-500);
  background-color: white;
  border: 1px solid var(--black-300);
  border-radius: 727px;
  & > img {
    margin-left: 10px;
  }
  &:hover:not(:disabled) {
    background-color: var(--black-50);
    &:active {
      background-color: var(--black-100);
    }
  }
  &.show-all-contributors-button--active {
    & > img {
      rotate: -180deg;
    }
  }
}
.contributor-error {
  font-size: 1.25rem;
  color: var(--black-500);
  text-align: center;
  padding: 20px 0;
}
.contributor-none {
  color: var(--black-500);
  font-size: 1.25rem;
  text-align: center;
  padding: 40px 0 50px;
}
.contributor-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 50px 0 55px;

  & > .contributor-pill {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 2.875rem;
    padding: 5px 16px 5px 5px;
    border-radius: 50px;
    border: 1px solid var(--black-300);
    box-sizing: border-box;

    & > .contributor-pill__img {
      height: 100%;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
    & > .contributor-pill__text-section {
      flex-shrink: 0;
      & > .contributor-pill__text-section__tech-lead {
        font-size: 0.75rem;
        font-style: italic;
        color: var(--black-500);
      }
      & > .contributor-pill__text-section__name {
        font-size: 1rem;
        color: var(--black-900);
        font-weight: 500;
      }
    }
    &:hover {
      background-color: var(--black-50);
      &:active {
        background-color: var(--black-100);
      }
    }
  }
}
